<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{card.name}}</mat-card-title>
  </mat-card-header>
  <div class="image" mat-card-image [ngStyle]="{'background-image': 'url('+card.pic+')'}" alt="Photo of a Shiba Inu"></div>
  <mat-card-content>
    <p class="description">
      {{card.description.length > 140 ?  card.description.substring(0, 140).concat("...") : card.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>

    <button mat-icon-button color="{{color}}" aria-label="like" (click)="onLike()">
      <mat-icon>favorite</mat-icon>
      {{card.likes}}
    </button>

    <button mat-button> <a href="https://www.linkedin.com/in/henriquebackes/" target="_blank" style="text-decoration:none">SHARE</a></button>
  </mat-card-actions>
</mat-card>