.example-card {
    max-width: 400px;
    margin-bottom: 15px;
}
.image {
  background-position: center center;
  background-size: cover;
  padding: 40% 0;
}
.description {
  margin-left: 8px;
}
mat-card-content {
  height: 52px;
}
